<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>645941491363-8m4vvepnabr004p6a6h5v9vh52npffo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645941491363-8m4vvepnabr004p6a6h5v9vh52npffo1</string>
	<key>API_KEY</key>
	<string>AIzaSyBPbaJ8f4WaZHTPeqiI15fVULXZJ7HgEE8</string>
	<key>GCM_SENDER_ID</key>
	<string>645941491363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ironyard.VenueList-Final-Project</string>
	<key>PROJECT_ID</key>
	<string>venuelist-319c8</string>
	<key>STORAGE_BUCKET</key>
	<string>venuelist-319c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:645941491363:ios:ee9176dea79290fc</string>
	<key>DATABASE_URL</key>
	<string>https://venuelist-319c8.firebaseio.com</string>
</dict>
</plist>